@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url(../fonts/Montserrat/static/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url(../fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Oswald";
  font-weight: 600;
  src: url(../fonts/Oswald/static/Oswald-SemiBold.ttf);
}
@font-face {
  font-family: "Oswald";
  font-weight: 700;
  src: url(../fonts/Oswald/static/Oswald-Bold.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
}

.btn-buy {
  width: 166px;
  height: 38px;
  border: none;
  border-radius: 10px;
  background-color: #f1524f;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;
  line-height: 21.09px;
  margin: 8px;
}
.btn-buy:hover {
  cursor: pointer;
  background-color: #CC4744;
}

body {
  width: 100%;
  background-image: url(../images/full-background.png);
  background-repeat: no-repeat;
  background-position: 44% -3%;
}
body header .company {
  display: flex;
  align-items: flex-start;
  font-family: "Montserrat";
  margin-top: 32px;
  list-style-type: none;
}
body header .company-name {
  display: flex;
  align-items: center;
  margin-right: 34px;
}
body header .company-name svg {
  margin-right: 10px;
}
body header .company-name p {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
}
body header .company-name p a {
  text-decoration: none;
  color: black;
}
body header .company-address {
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  margin-right: 144px;
  color: #1C2128;
}
body header .company-address p:nth-child(1n+2) {
  margin-top: 7px;
}
body header .company-working_time {
  margin-right: 141px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  margin-right: 144px;
  color: #676767;
}
body header .company-working_time p:nth-child(1n+2) {
  margin-top: 7px;
}
body header .company-phone input:focus,
body header .company-phone button:focus {
  outline: none;
}
body header .company-phone input:focus-visible,
body header .company-phone button:focus-visible {
  outline: 2px solid #F1524F;
}
body header .company-phone #switch-callback {
  display: none;
}
body header .company-phone #switch-callback:checked ~ .callback-list-wrp {
  display: block;
}
body header .company-phone .callback {
  box-sizing: border-box;
  /* box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); */
  /* NB! */
  position: relative;
}
body header .company-phone .callback-btn {
  display: block;
  color: #ffffff;
}
body header .company-phone .callback-btn span {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  color: #676767;
}
body header .company-phone .callback-btn svg {
  margin: 0 0 0 11px;
  fill: currentColor;
}
body header .company-phone .callback-list-wrp {
  z-index: 1;
  display: none;
  width: 739px;
  position: absolute;
  top: 54px;
  right: 0;
  border-radius: 4px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body header .company-phone .callback-list-wrp form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 45px;
}
body header .company-phone .callback-list-wrp form h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 49.6px;
  text-align: center;
  margin: 0 -45px;
}
body header .company-phone .callback-list-wrp form input {
  width: 100%;
  margin-top: 21px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  padding: 12px;
  background: #ffffff;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 27.9px;
}
body header .company-phone .callback-list-wrp form input:nth-child(2) {
  margin-top: 41px;
}
body header .company-phone .callback-list-wrp form input::-moz-placeholder {
  color: #d8d8d8;
}
body header .company-phone .callback-list-wrp form input:-ms-input-placeholder {
  color: #d8d8d8;
}
body header .company-phone .callback-list-wrp form input::placeholder {
  color: #d8d8d8;
}
body header .company-phone .callback-list-wrp form button {
  border: none;
  border-radius: 10px;
  background-color: #F1524F;
  padding: 13px 120px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 28px;
  line-height: 43.4px;
  margin-top: 33px;
  color: #ffffff;
}
body header .company-phone .callback-list-wrp form button:hover {
  background-color: #CC4744;
  cursor: pointer;
}
body header .company-phone .callback-list-wrp form div {
  display: flex;
  margin-top: 20px;
}
body header .company-phone .callback-list-wrp form div input[type=checkbox]:checked, body header .company-phone .callback-list-wrp form div input[type=checkbox]:not(:checked) {
  display: none;
}
body header .company-phone .callback-list-wrp form div input[type=checkbox]:checked + label, body header .company-phone .callback-list-wrp form div input[type=checkbox]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
body header .company-phone .callback-list-wrp form div input[type=checkbox]:checked + label:before, body header .company-phone .callback-list-wrp form div input[type=checkbox]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #BEBEBE;
  background-color: #ffffff;
  border-radius: 5px;
}
body header .company-phone .callback-list-wrp form div input[type=checkbox]:checked + label:before {
  background-color: #CC4744;
}
body header .company-phone .callback-list-wrp form div input[type=checkbox]:checked + label:after, body header .company-phone .callback-list-wrp form div input[type=checkbox]:not(:checked) + label:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
  left: 4.5px;
  top: 5.5px;
  width: 7px;
  height: 3px;
  border-radius: 1px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  transform: rotate(-45deg);
}
body header .company-phone .callback-list-wrp form div input[type=checkbox]:not(:checked) + label:after {
  opacity: 0;
}
body header .company-phone .callback-list-wrp form div input[type=checkbox]:checked + label:after {
  opacity: 1;
}
body header .company-phone .callback-list-wrp form div label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 21.7px;
}
body header .company-phone .callback-list-wrp form div label a {
  text-decoration: underline;
  color: #000;
}
body header .company-phone .callback-list-wrp form div label a:hover {
  color: #F1524F;
  cursor: pointer;
}
body header .company-phone .circle {
  color: #ffffff;
  text-align: center;
  border: 1px solid #F16D7F;
  width: 19px;
  border-radius: 19px;
  height: 19px;
  position: absolute;
  background: #F16D7F;
  right: -9.5px;
  top: -9.5px;
}
body header .company-phone-number {
  font-weight: 700;
  font-size: 24px;
  color: #1C2128;
}
body header .menu {
  font-family: "Roboto";
  font-size: 18px;
  margin-top: 13px;
}
body header .menu ul {
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}
body header .menu ul .menu-button input:focus,
body header .menu ul .menu-button button:focus {
  outline: none;
}
body header .menu ul .menu-button input:focus-visible,
body header .menu ul .menu-button button:focus-visible {
  outline: 2px solid #F16D7F;
}
body header .menu ul .menu-button #switch-menu {
  display: none;
}
body header .menu ul .menu-button #switch-menu:checked ~ .catalog-list-wrp {
  display: block;
}
body header .menu ul .menu-button .catalog {
  box-sizing: border-box;
  background: #FFFFFF;
  /* box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); */
  /* NB! */
  position: relative;
}
body header .menu ul .menu-button .catalog-btn {
  display: block;
  width: 100%;
  padding: 10px 12px 9px;
  background: linear-gradient(90deg, #f14f54 14.4%, #ff8f20 86.8%);
  border: none;
  border-radius: 10px;
  color: #ffffff;
  text-align: left;
  box-sizing: border-box;
}
body header .menu ul .menu-button .catalog-btn:hover {
  cursor: pointer;
}
body header .menu ul .menu-button .catalog-btn span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.09px;
}
body header .menu ul .menu-button .catalog-btn svg {
  fill: #ffffff;
}
body header .menu ul .menu-button .catalog label {
  text-align: center;
}
body header .menu ul .menu-button .catalog-list-wrp {
  z-index: 1;
  display: none;
  width: 384px;
  position: absolute;
  top: 54px;
  left: 0;
  padding: 22px 24px 36px 30px;
  border-radius: 4px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body header .menu ul .menu-button .catalog-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
body header .menu ul .menu-button .catalog-list-item {
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}
body header .menu ul .menu-button .catalog-list-item:nth-child(1n+2) {
  padding-top: 8px;
}
body header .menu ul .menu-button .catalog-list-item a {
  color: #1c2128;
  text-decoration: none;
}
body header .menu ul .menu-button .catalog-list-item:hover::before {
  content: "►";
  position: absolute;
  left: -20px;
  color: #cc4744;
}
body header .menu ul .menu-button .catalog-list-item:hover a {
  color: #cc4744;
}
body header .menu ul .menu-button .catalog-list-item:active::before {
  background-color: #ccc;
}
body header .menu ul .menu-button .catalog-list-item:active a {
  color: #ccc;
}
body header .menu ul .menu-button .catalog-sublist {
  display: flex;
  flex-direction: column;
  margin: 12px 0 0 0;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  list-style: none;
}
body header .menu ul .menu-button .catalog-sublist-item {
  margin: 0 0 11px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
}
body header .menu ul .menu-button .catalog-sublist-item:last-child {
  margin: 0 0 24px 0;
}
body header .menu ul .menu-button .catalog-sublist-item a {
  color: #6F6E6E;
  text-decoration: none;
}
body header .menu ul .menu-button .catalog-sublist-item:hover a {
  color: #EF5B70;
}
body header .menu ul .menu-button .catalog-sublist-item:active a {
  color: #000;
}
body header .menu ul .menu-button .circle {
  color: #ffffff;
  text-align: center;
  border: 1px solid #F16D7F;
  width: 19px;
  border-radius: 19px;
  height: 19px;
  position: absolute;
  background: #F16D7F;
  right: -9.5px;
  top: -9.5px;
}
body header .menu ul .menu-button-catalog {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 12.5px 16.75px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(#F14F54, #FF8F20);
  font-weight: 500;
  line-height: 21.09px;
  cursor: pointer;
}
body header .menu ul .menu-button-catalog svg {
  margin-right: 5.75px;
}
body header .menu ul .menu-tabs {
  margin-left: 125px;
}
body header .menu ul .menu-tabs ul {
  padding: 0;
}
body header .menu ul .menu-tabs ul li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #1C2128;
}
body header .menu ul .menu-tabs ul li a {
  text-decoration: none;
  color: #000;
}
body header .menu ul .menu-tabs ul li a:hover {
  cursor: pointer;
  color: #F1524F;
}
body header .menu ul .menu-tabs ul li:nth-child(2) {
  margin-right: 35px;
  margin-left: 35px;
}
body main .info {
  margin-top: 51px;
  margin-bottom: 180px;
}
body main .info article {
  width: 50%;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  color: #1C2128;
  text-transform: uppercase;
}
body main .info ul {
  list-style-type: none;
  margin-top: 27px;
}
body main .info ul li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #676767;
  margin-left: 11px;
}
body main .info ul li::before {
  content: "🞄";
  margin-right: 11px;
}
body main .info ul li:nth-child(1n+2) {
  margin-top: 13px;
}
body main .info hr {
  width: 27px;
  height: 5px;
  background-color: #60B7D9;
  border: none;
  border-radius: 5px;
  margin: 0 91px 0;
  margin-top: 304px;
}
body main .info p {
  margin-top: 17px;
  padding: 0 91px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  text-align: justify;
}
body main .goods {
  display: flex;
  flex-wrap: wrap;
  margin-top: 99px;
  justify-content: center;
}
body main .goods-card {
  width: 370px;
  height: 322px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
body main .goods-card:nth-child(3n+2) {
  margin-left: 30px;
  margin-right: 30px;
}
body main .goods-card:hover {
  box-shadow: -1px 11px 11px rgba(137, 218, 251, 0.68);
  cursor: pointer;
}
body main .goods-card p {
  margin: 15px;
}
body main .goods-card a {
  text-decoration: none;
  color: #000;
}
body main .expiriens {
  display: flex;
  font-family: "Roboto";
  color: #60B7D9;
  margin-top: 202px;
}
body main .expiriens-card {
  text-align: center;
}
body main .expiriens-card h1 {
  font-size: 100px;
  line-height: 121.9px;
}
body main .expiriens-card p {
  font-size: 24px;
  line-height: 29.26px;
}
body main .expiriens-card:nth-child(2) {
  margin-left: 80px;
  margin-right: 80px;
}
body main .goods {
  display: flex;
  flex-wrap: wrap;
  margin-top: 139px;
}
body main .goods h3 {
  width: 100%;
  font-family: "Montserrat";
  font-size: 32px;
  line-height: 49.6px;
  text-align: left;
  margin-left: 20px;
}
body main .goods-popular {
  display: flex;
  margin-top: 18px;
}
body main .goods-popular-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat";
  margin: 0 11px 0 11px;
}
body main .goods-popular-card:first-child {
  margin: 0 11px 0 0;
}
body main .goods-popular-card:last-child {
  margin: 0 0 0 11px;
}
body main .goods-popular-card:hover {
  cursor: pointer;
  box-shadow: 0px 49px 14px rgba(0, 0, 0, 0.01), 0px 31px 12px rgba(0, 0, 0, 0.04), 0px 18px 11px rgba(0, 0, 0, 0.15), 0px 8px 8px rgba(0, 0, 0, 0.26), 0px 2px 4px rgba(0, 0, 0, 0.29), 0px 0px 0px rgba(0, 0, 0, 0.3);
}
body main .goods-popular-card img {
  margin: -20px -20px 0 -20px;
}
body main .goods-popular-card .goods-type {
  font-size: 18px;
  font-weight: 300;
  line-height: 21.94px;
}
body main .goods-popular-card h4 {
  font-size: 22px;
  font-weight: 400;
  line-height: 26.82px;
}
body main .goods-popular-card .price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
}
body main .ribbon {
  display: flex;
  width: 100%;
  background-color: #60B7D9;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 49px 14px rgba(0, 0, 0, 0.01), 0px 31px 12px rgba(0, 0, 0, 0.04), 0px 18px 11px rgba(0, 0, 0, 0.15), 0px 8px 8px rgba(0, 0, 0, 0.26), 0px 2px 4px rgba(0, 0, 0, 0.29), 0px 0px 0px rgba(0, 0, 0, 0.3);
}
body main .ribbon h3 {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 600;
  line-height: 58.51px;
  color: #ffffff;
  width: 30%;
  margin: 18px 0 18px 0;
  text-align: center;
}
body main .document h2 {
  font-family: "Oswald";
  font-size: 48px;
  font-weight: 600;
  line-height: 71.14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 130px;
}
body main .document-show {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 27.22px;
}
body main .document-show button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ffffff;
}
body main .document-show button:last-child {
  transform: rotate(180deg);
}
body main .document-show button .svg-arrow:hover {
  cursor: pointer;
  fill: #F1524F;
  filter: drop-shadow(0px 0px 3.0431px #E45653);
}
body main .document-show img {
  width: 430px;
  height: 580px;
  filter: drop-shadow(0px 49px 14px rgba(0, 0, 0, 0.01)) drop-shadow(0px 31px 12px rgba(0, 0, 0, 0.04)) drop-shadow(0px 18px 11px rgba(0, 0, 0, 0.15)) drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.26)) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.29)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.3));
}
body main .document-show img:last-child {
  margin-left: 74px;
}
body main .question {
  margin-top: 67px;
}
body main .question form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 739px;
  height: 648px;
  border-radius: 10px;
  box-shadow: 0px 172px 69px rgba(0, 0, 0, 0.03), 0px 97px 58px rgba(0, 0, 0, 0.1), 0px 43px 43px rgba(0, 0, 0, 0.17), 0px 11px 24px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
  padding: 33px 46px 38px;
}
body main .question form h3 {
  font-family: "Montserrat";
  font-size: 38px;
  font-weight: 700;
  line-height: 58.9px;
}
body main .question form input {
  border: 2px solid #BEBEBE;
  border-radius: 5px;
  background: #ffffff;
  padding: 14px 12px;
  width: 100%;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 27.9px;
}
body main .question form input:focus-visible {
  outline: 2px solid #F1524F;
}
body main .question form .name {
  margin-top: 27px;
}
body main .question form .number {
  margin-top: 23px;
}
body main .question form .message {
  margin-top: 27px;
  width: 100%;
  height: 100%;
  border: 2px solid #BEBEBE;
  border-radius: 5px;
  background: #ffffff;
  padding: 14px 12px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 27.9px;
}
body main .question form .message:focus-visible {
  outline: 2px solid #F1524F;
}
body main .question form button {
  border: none;
  border-radius: 10px;
  background-color: #F1524F;
  padding: 13px 120px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 28px;
  line-height: 43.4px;
  margin-top: 33px;
  color: #ffffff;
}
body main .question form button:hover {
  background-color: #CC4744;
  cursor: pointer;
}
body main .question form button button:focus-visible {
  outline: 2px solid #F1524F;
}
body main .question form div {
  display: flex;
  margin-top: 20px;
}
body main .question form div input[type=checkbox]:checked, body main .question form div input[type=checkbox]:not(:checked) {
  display: none;
}
body main .question form div input[type=checkbox]:checked + label, body main .question form div input[type=checkbox]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
body main .question form div input[type=checkbox]:checked + label:before, body main .question form div input[type=checkbox]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #BEBEBE;
  background-color: #ffffff;
  border-radius: 5px;
}
body main .question form div input[type=checkbox]:checked + label:before {
  background-color: #CC4744;
}
body main .question form div input[type=checkbox]:checked + label:after, body main .question form div input[type=checkbox]:not(:checked) + label:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
  left: 4.5px;
  top: 5.5px;
  width: 7px;
  height: 3px;
  border-radius: 1px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  transform: rotate(-45deg);
}
body main .question form div input[type=checkbox]:not(:checked) + label:after {
  opacity: 0;
}
body main .question form div input[type=checkbox]:checked + label:after {
  opacity: 1;
}
body main .question form div label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 21.7px;
}
body main .question form div label a {
  text-decoration: underline;
  color: #000;
}
body main .question form div label a:hover {
  color: #F1524F;
  cursor: pointer;
}
body main .breadcrump-path li {
  display: inline;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 24.38px;
  font-size: 20px;
  color: #838383;
}
body main .breadcrump-path li + li::before {
  padding: 8px;
  content: "–";
}
body main .breadcrump-path li a {
  color: #838383;
  text-decoration: none;
}
body main .breadcrump-path li a:hover {
  cursor: pointer;
  text-decoration: underline;
}
body main .about-company {
  margin-top: 8px;
  margin-bottom: 227px;
  border-radius: 100px;
  padding: 66px 170px;
  font-family: "Montserrat";
  line-height: 155%;
  box-shadow: 0px 107px 107px rgba(112, 167, 195, 0.21), 0px 27px 59px rgba(112, 167, 195, 0.25), 0px 0px 0px rgba(112, 167, 195, 0.25);
}
body main .about-company svg {
  position: relative;
  top: -23px;
  left: -41px;
}
body main .about-company article {
  font-weight: 600;
  font-size: 26px;
}
body main .about-company p {
  font-size: 22px;
  font-weight: 400;
  line-height: 155%;
  margin-top: 8px;
  text-align: justify;
}
body main .about-company p span {
  font-weight: 500;
}
body main .contacts {
  margin-top: 94px;
}
body main .contacts .contacts-company {
  padding: 14px 103px;
  display: flex;
}
body main .contacts .contacts-company-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 29.26px;
  justify-content: flex-start;
  align-content: space-between;
}
body main .contacts .contacts-company-details .address {
  width: 100%;
}
body main .contacts .contacts-company-details .phone-number {
  margin-right: 65px;
}
body main .contacts .contacts-company-details .details {
  width: 100%;
}
body main .contacts .contacts-company-details h4 {
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 500;
  margin-bottom: 8px;
}
body main .contacts .contacts-company-details p {
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 400;
  margin-top: 0;
}
body main .contacts iframe {
  width: 65%;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  margin: -13px -103px;
}
body main .product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 55px;
}
body main .product div {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 551px;
  height: 551px;
  border-radius: 10px;
  box-shadow: 0px 107px 107px rgba(112, 167, 195, 0.21), 0px 27px 59px rgba(112, 167, 195, 0.25), 0px 0px 0px rgba(112, 167, 195, 0.25);
  margin-right: 174px;
}
body main .product section {
  font-family: "Montserrat";
}
body main .product section article {
  font-weight: 600;
  font-size: 48px;
  line-height: 58.51px;
  margin-bottom: 13px;
}
body main .product section h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24.38px;
  margin-bottom: 13px;
}
body main .product section p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  color: #909090;
  margin-bottom: 11px;
}
body main .product section p :last-child {
  margin-top: 27px;
}
body main .product section p span {
  color: #000;
}
body main .product section p span .price {
  font-weight: 500;
}
body main .product section p button {
  margin-top: 28px;
  width: 364px;
  height: 66px;
}
body main .alt_prod {
  position: relative;
  border-radius: 100px;
  box-shadow: 0px 107px 107px rgba(112, 167, 195, 0.21), 0px 27px 59px rgba(112, 167, 195, 0.25), 0px 0px 0px rgba(112, 167, 195, 0.25);
  max-width: 1440px;
  margin: 0 auto;
  padding: 42px 123px;
  font-family: "Montserrat";
  margin-top: 74px;
  background-color: #ffffff;
}
body main .alt_prod-tabs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
}
body main .alt_prod-tabs h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26.82px;
  color: #2d2d2d;
  margin-right: 29px;
}
body main .alt_prod-tabs h3:hover {
  border-bottom: 3px solid black;
  margin-bottom: -3px;
}
body main .alt_prod-info article {
  font-weight: 500;
  font-size: 16px;
  line-height: 24.8px;
  margin-bottom: 40px;
}
body main .alt_prod-info p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24.8px;
  margin-bottom: 41px;
}
body main .alt_prod-info-specs {
  display: flex;
  justify-content: space-between;
}
body main .alt_prod-info-specs p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.42px;
  margin-bottom: 26px;
}
body main .alt_prod-info-specs p:last-child {
  margin-bottom: 0px;
}
body main .similar_prod {
  margin-bottom: 230px;
  margin-top: 150px;
  font-family: "Roboto";
}
body main .similar_prod article {
  font-size: 32px;
  font-weight: 500;
  line-height: 37.5px;
  margin-left: 40px;
}
body main .similar_prod-circle {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .similar_prod-circle svg {
  margin-right: 70px;
}
body main .similar_prod-circle svg:last-child {
  margin-right: 0px;
  margin-left: 70px;
  transform: rotate(180deg);
}
body main .similar_prod-circle-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 306px;
  height: 427px;
  padding: 27px 18px 27px 26px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body main .similar_prod-circle-card:nth-child(3n+3) {
  margin-right: 120px;
  margin-left: 120px;
}
body main .similar_prod-circle-card .card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 50%;
}
body main .similar_prod-circle-card .card-img img {
  width: 100%;
}
body main .similar_prod-circle-card .card-info {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 24px;
  line-height: 28.13px;
}
body main .similar_prod-circle-card .card-info h4 {
  font-weight: 300;
}
body main .similar_prod-circle-card .card-info h3 {
  font-weight: 500;
}
body main .similar_prod-circle-card .card-info .btn-buy {
  margin: 0px;
  margin-top: 60px;
}
body footer {
  background: linear-gradient(90deg, #F14F54 14.4%, #FF8F20 86.8%);
}
body footer .bottom {
  padding-top: 44px;
  padding-bottom: 85.65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
body footer .bottom .company {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: 30px;
}
body footer .bottom .company h5 {
  display: flex;
  margin-bottom: 22px;
}
body footer .bottom .company h5 svg {
  margin-right: 9px;
}
body footer .bottom .company h5 span {
  font-family: "Oswald";
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
body footer .bottom .company p {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
}
body footer .bottom .site {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}
body footer .bottom .site a {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 200%;
  color: #ffffff;
  text-decoration: none;
}
body footer .bottom .site a:hover {
  cursor: pointer;
}
body footer .bottom .address {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 10px;
}
body footer .bottom .address p {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
body footer hr {
  border: none;
  border-bottom: 1px solid #ffffff;
}
body footer .copy {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 23px;
}
body footer .copy p {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 21.94px;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */