@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url(../fonts/Montserrat/static/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url(../fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Oswald";
  font-weight: 600;
  src: url(../fonts/Oswald/static/Oswald-SemiBold.ttf);
}
@font-face {
  font-family: "Oswald";
  font-weight: 700;
  src: url(../fonts/Oswald/static/Oswald-Bold.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
}

body {
  width: 100%;
  background-image: url(../images/full-background.png);
  background-repeat: no-repeat;
  background-position: 44% -7%;
}
body header .company {
  display: flex;
  align-items: flex-start;
  font-family: "Montserrat";
  margin-top: 32px;
  list-style-type: none;
}
body header .company-name {
  display: flex;
  align-items: center;
  margin-right: 34px;
}
body header .company-name svg {
  margin-right: 10px;
}
body header .company-name p {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
}
body header .company-address {
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  margin-right: 144px;
  color: #1C2128;
}
body header .company-address p:nth-child(1n+2) {
  margin-top: 7px;
}
body header .company-working_time {
  margin-right: 141px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  margin-right: 144px;
  color: #676767;
}
body header .company-working_time p:nth-child(1n+2) {
  margin-top: 7px;
}
body header .company-phone-number {
  font-weight: 700;
  font-size: 24px;
  color: #1C2128;
}
body header .company-phone-note {
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  color: #676767;
}
body header .menu {
  font-family: "Roboto";
  font-size: 18px;
  margin-top: 13px;
}
body header .menu ul {
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}
body header .menu ul .menu-button {
  width: 125px;
  height: 40px;
}
body header .menu ul .menu-button-catalog {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 12.5px 16.75px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(#F14F54, #FF8F20);
  font-weight: 500;
  line-height: 21.09px;
  cursor: pointer;
}
body header .menu ul .menu-button-catalog svg {
  margin-right: 5.75px;
}
body header .menu ul .menu-tabs {
  margin-left: 120px;
}
body header .menu ul .menu-tabs ul {
  padding: 0;
}
body header .menu ul .menu-tabs ul li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #1C2128;
}
body header .menu ul .menu-tabs ul li a {
  text-decoration: none;
  color: #000;
}
body header .menu ul .menu-tabs ul li a:hover {
  cursor: pointer;
  color: #F1524F;
}
body header .menu ul .menu-tabs ul li:nth-child(2) {
  margin-right: 35px;
  margin-left: 35px;
}
body main .info {
  margin-top: 51px;
}
body main .info article {
  width: 50%;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  color: #1C2128;
  text-transform: uppercase;
}
body main .info ul {
  list-style-type: none;
  margin-top: 27px;
  margin-bottom: 304px;
}
body main .info ul li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #676767;
  margin-left: 11px;
}
body main .info ul li::before {
  content: "🞄";
  margin-right: 11px;
}
body main .info ul li:nth-child(1n+2) {
  margin-top: 13px;
}
body main .info hr {
  width: 27px;
  height: 5px;
  background-color: #60B7D9;
  border: none;
  border-radius: 5px;
  margin: 0 91px 0;
}
body main .info p {
  margin-top: 17px;
  padding: 0 91px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  text-align: justify;
}
body main .product {
  display: flex;
  flex-wrap: wrap;
  margin-top: 99px;
  justify-content: center;
}
body main .product-card {
  width: 370px;
  height: 322px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
body main .product-card:nth-child(3n+2) {
  margin-left: 30px;
  margin-right: 30px;
}
body main .product-card:hover {
  box-shadow: -1px 11px 11px rgba(137, 218, 251, 0.68);
  cursor: pointer;
}
body main .product-card p {
  margin: 15px;
}
body main .expiriens {
  display: flex;
  font-family: "Roboto";
  color: #60B7D9;
  margin-top: 202px;
}
body main .expiriens-card {
  text-align: center;
}
body main .expiriens-card h1 {
  font-size: 100px;
  line-height: 121.9px;
}
body main .expiriens-card p {
  font-size: 24px;
  line-height: 29.26px;
}
body main .expiriens-card:nth-child(2) {
  margin-left: 80px;
  margin-right: 80px;
}
body main .goods {
  display: flex;
  flex-wrap: wrap;
  margin-top: 139px;
}
body main .goods h3 {
  width: 100%;
  font-family: "Montserrat";
  font-size: 32px;
  line-height: 49.6px;
  text-align: left;
  margin-left: 20px;
}
body main .goods-popular {
  display: flex;
  margin-top: 18px;
}
body main .goods-popular-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat";
  margin: 0 11px 0 11px;
}
body main .goods-popular-card:first-child {
  margin: 0 11px 0 0;
}
body main .goods-popular-card:last-child {
  margin: 0 0 0 11px;
}
body main .goods-popular-card:hover {
  cursor: pointer;
  box-shadow: 0px 49px 14px rgba(0, 0, 0, 0.01), 0px 31px 12px rgba(0, 0, 0, 0.04), 0px 18px 11px rgba(0, 0, 0, 0.15), 0px 8px 8px rgba(0, 0, 0, 0.26), 0px 2px 4px rgba(0, 0, 0, 0.29), 0px 0px 0px rgba(0, 0, 0, 0.3);
}
body main .goods-popular-card img {
  margin: -20px -20px 0 -20px;
}
body main .goods-popular-card .goods-type {
  font-size: 18px;
  font-weight: 300;
  line-height: 21.94px;
}
body main .goods-popular-card h4 {
  font-size: 22px;
  font-weight: 400;
  line-height: 26.82px;
}
body main .goods-popular-card .price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
}
body main .goods-popular-card .btn-buy {
  width: 166px;
  height: 38px;
  border: none;
  border-radius: 10px;
  background-color: #f1524f;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;
  line-height: 21.09px;
  margin: 8px;
}
body main .goods-popular-card .btn-buy:hover {
  cursor: pointer;
  background-color: #CC4744;
}
body main .ribbon {
  display: flex;
  width: 100%;
  background-color: #60B7D9;
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 49px 14px rgba(0, 0, 0, 0.01), 0px 31px 12px rgba(0, 0, 0, 0.04), 0px 18px 11px rgba(0, 0, 0, 0.15), 0px 8px 8px rgba(0, 0, 0, 0.26), 0px 2px 4px rgba(0, 0, 0, 0.29), 0px 0px 0px rgba(0, 0, 0, 0.3);
}
body main .ribbon h3 {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 600;
  line-height: 58.51px;
  color: #ffffff;
  width: 30%;
  margin: 18px 0 18px 0;
  text-align: center;
}
body footer {
  background: linear-gradient(90deg, #F14F54 14.4%, #FF8F20 86.8%);
}
body footer .bottom {
  padding-top: 44px;
  padding-bottom: 85.65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
body footer .bottom .company {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: 30px;
}
body footer .bottom .company h5 {
  display: flex;
  margin-bottom: 22px;
}
body footer .bottom .company h5 svg {
  margin-right: 9px;
}
body footer .bottom .company h5 span {
  font-family: "Oswald";
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
body footer .bottom .company p {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
}
body footer .bottom .site {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}
body footer .bottom .site a {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 200%;
  color: #ffffff;
  text-decoration: none;
}
body footer .bottom .site a:hover {
  cursor: pointer;
}
body footer .bottom .address {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 10px;
}
body footer .bottom .address p {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
body footer hr {
  border: none;
  border-bottom: 1px solid #ffffff;
}
body footer .copy {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 23px;
}
body footer .copy p {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 21.94px;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */